@tailwind base;
@tailwind components;
@tailwind utilities;

.lottie-color-modifier svg g[clip-path] > g:first-child > path {
  fill: hsl(var(--illust)) !important;
}

.lottie-color-modifier svg g[clip-path] > g:nth-child(2) > path {
  fill: hsl(var(--illust-foreground)) !important;
}

.lottie-color-modifier svg g[clip-path] > g.fill-illust-foreground > path {
  fill: hsl(var(--illust-foreground)) !important;
}

.fill-illust {
  fill: hsl(var(--illust)) !important;
}

.fill-illust-foreground {
  fill: hsl(var(--illust-foreground)) !important;
}

@layer base {
  :root {
    --background: 45 29% 95%;
    --foreground: 0 0% 22%;
    --muted: 0 0% 100%;
    --light: 0 0% 64%;
    --illust: 158 81% 43%;
    --illust-foreground: 0 0% 100%;
    --font-inter: "Inter", sans-serif;
    --font-noto-sans-jp: "Noto Sans JP", sans-serif;
  }

  .dark {
    --background: 175 33% 21%;
    --foreground: 0 0% 100%;
    --muted: 174 14% 27%;
    --light: 177 9% 47%;
    --illust: 0 0% 100%;
    --illust-foreground: 174 14% 27%;
  }
}

@layer base {
  /* * { */
  /*   @apply border-border; */
  /* } */
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter);
    box-sizing: border-box;
  }
  /* .inter { */
  /*   font-family: var(--font-inter); */
  /* } */
}
